@page
@using Views.Server.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>
        Hello should render below this paragraph.
    </p>
    <component
        type="typeof(Views.Server.Components.HelloWorld)"
        render-mode="Static"
        param-Message="@("Apple")"
    />
    @(await Html.RenderComponentAsync<HelloWorld>(RenderMode.Static,
        new {
            Message = "Something"
        }
    ))
</div>
