@page "/about"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="A simple about page." />
</SectionContent>

<SectionContent SectionName="Header">
    <div>This is header slot content.</div>
</SectionContent>

<div>
    This is body content.
</div>

<SectionContent SectionName="Footer">
    <div>This is footer content.</div>
</SectionContent>
