@page "/about"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="A simple about page." />
</SectionContent>

<SectionContent SectionName="Flashes">
    <Flash Level="info">
        Hello world!
    </Flash>
    <Flash Level="warning">
        Warning!
    </Flash>
    <Flash Level="error">
        Oh no!
    </Flash>
</SectionContent>

<SectionContent SectionName="Heading">
    <div>This is header slot content.</div>
</SectionContent>

<SectionContent SectionName="Navigation">
    <div>Navigation content.</div>
</SectionContent>

<ContentBlock>
    <p>
        This is body content.
    </p>
</ContentBlock>

<SectionContent SectionName="Footer">
    <div>This is footer content.</div>
</SectionContent>
