@page "/about"
@using Microsoft.AspNetCore.Components.Sections
@using Site.Components.Shared
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="A simple about page." />
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    <div>This is header slot content.</div>
</SectionContent>

<SectionContent SectionName="NavigationLinks">
    <MainNavigation ActiveLink="About" />
</SectionContent>

<p>
    This is some test content
</p>

<SectionContent SectionName="Footer">
    <MainFooter />
</SectionContent>
