@using Views.Server.Components

@namespace Views.Server.Components

<ContentArea>
    <div class="object card mb-8">
        @ChildContent
    </div>
    <div class="card card--skeletal mb-8">
        Skeletal card
    </div>
</ContentArea>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
