@namespace Views.Server.Components

<div class="w-full" style="background-color: @BackgroundColor;">
    <div class="w-full max-w-6xl mx-auto p-8" style="color: @ForegroundColor;">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string BackgroundColor { get; set; } = "#000";

    [Parameter]
    public string ForegroundColor { get; set; } = "#fff";
}
