@namespace Views.Server.Components

<div class="alert">
    <h2>Hello World Component</h2>
    <p>The following message was passed in...</p>
    <p>@Message</p>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "I'm just the default message.";
}
