@namespace Views.Server.Components

<footer class="bg-light-2 dark:bg-shadow-1">
    <ContentArea>
        <div class="py-8 text-center">
            <div class="mb-2">
                Socials
            </div>
            <div>
                <span class="block sm:inline-block">
                    &copy;2026 Jonathan Richards,
                </span>
                <span class="block sm:inline-block">
                    All rights reserved.
                </span>
            </div>
        </div>
    </ContentArea>
</footer>
