@namespace Views.Server.Components

<div class="w-full border">
    <div class="w-full max-w-6xl mx-auto p-8 text-center border">
        <div class="mb-2">
            Socials
        </div>
        <div>
            <span class="block sm:inline-block">
                &copy;2026 Jonathan Richards,
            </span>
            <span class="block sm:inline-block">
                All rights reserved.
            </span>
        </div>
    </div>
</div>
