@namespace Views.Server.Features

<div class="showcase-block w-full mb-4 px-4 xl:px-0">
    <div class="flex">
        <div class="showcase-block__text">
            <div class="showcase-block__title">
                @Title
            </div>
            <div class="showcase-block__description">
                <div class="showcase-block__description-text">
                    @Description
                </div>
                <div class="showcase-block__description-link">
                    @Link
                </div>
            </div>
        </div>
        <div class="showcase-block__image">
            @Image
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public RenderFragment Description { get; set; }

    [Parameter]
    public RenderFragment Image { get; set; }

    [Parameter]
    public RenderFragment Link { get; set; }
}
