@using Views.Server.Components
@namespace Views.Server.Features

<div class="flash flash--@Model.Modifier" data-feature="flash">
    <ContentArea>
        <div
            class="
                flash__content
                flex
                columns-2
                max-w-6xl
                mx-auto
                px-8
                py-4
                rounded-md
                text-center
            "
        >
            <div class="grow">
                @ChildContent
            </div>
            @if (IsDismissible)
            {
                <div class="shrink">
                    <button type="button">x</button>
                </div>
            }
        </div>
    </ContentArea>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Level { get; set; } = "info";

    [Parameter]
    public bool IsDismissible { get; set; } = true;

    public FlashModel Model { get; set; }

    protected override void OnParametersSet()
    {
        Model = new FlashModel(Level);
    }
}
