.flash {
  height: auto;
  overflow: hidden;
  transition: height 0.2s linear;
}
.flash--info > div {
  background-color: var(--color-shadow-1);
  color: #fff;
}
.flash--warning > div {
  background-color: rgb(255, 230, 0);
  color: #000;
}
.flash--error > div {
  background-color: #f00;
  color: #fff;
}
.flash--open {
  height: auto;
}
.flash--closed {
  height: 0;
}
