@page "/"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="A description of the page." />
    <title>Foo</title>
</SectionContent>

<h1>
    Index Page
</h1>
