@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components.Icons
@using Views.Server.Features.PageHeader

@namespace Views.Server.Features.PageHeader

<header
    data-feature="mobile-nav"
    class="
        group/mobile-nav
        flex
        items-center
        px-4
        py-4
        w-full
        data-[is-open=true]:h-screen
        data-[is-open=true]:bg-light-2
        dark:data-[is-open=true]:bg-shadow-1
        md:data-[is-open=true]:h-auto
        md:data-[is-open=true]:bg-transparent
        md:px-8
        md:h-auto
    "
>
    <div class="shrink flex items-center">
        @Heading
    </div>
    <nav
        data-feature="mobile-nav.menu"
        class="
            hidden
            group-data-[is-open=true]/mobile-nav:flex
            group-data-[is-open=true]/mobile-nav:justify-center
            group-data-[is-open=true]/mobile-nav:py-24
            group-data-[is-open=true]/mobile-nav:fixed
            group-data-[is-open=true]/mobile-nav:top-0
            group-data-[is-open=true]/mobile-nav:left-0
            group-data-[is-open=true]/mobile-nav:w-full
            group-data-[is-open=true]/mobile-nav:h-screen
            group-data-[is-open=true]/mobile-nav:bg-light-2
            group-data-[is-open=true]/mobile-nav:dark:bg-shadow-1
            group-data-[is-open=true]/mobile-nav:dark:z-1
            grow
            py-4
            md:flex
            md:justify-end
            md:py-0
        "
    >
        <ul class="flex flex-col gap-4 md:flex-row">
            @NavigationLinks
        </ul>
    </nav>
    <HamburgerButton />
</header>

@code {
    [Parameter]
    public RenderFragment Heading { get; set; }

    [Parameter]
    public RenderFragment NavigationLinks { get; set; }
}
