@using Views.Server.Components

@namespace Views.Server.Features.PageHeader

<li>
    <a
        class="navigation-link @(IsActive ? "navigation-link--active" : "")"
        href="@Href"
    >
        @ChildContent
    </a>
</li>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public bool IsActive { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
