@using Microsoft.AspNetCore.Components.Sections

@namespace Views.Server.Features

<div class="w-full mb-4">
    <header
        class="
            flex
            flex-col
            w-full
            max-w-6xl
            mx-auto
            dark:bg-shadow-3
            md:flex-row
            md:columns-2
        "
    >
        <div class="shrink text-center md:text-right">
            @Heading
        </div>
        <div class="grow text-center md:text-right">
            @Navigation
        </div>
    </header>
</div>

@code {
    [Parameter]
    public RenderFragment Heading { get; set; }

    [Parameter]
    public RenderFragment Navigation { get; set; }
}
