@using Microsoft.AspNetCore.Components.Sections

@namespace Views.Server.Features

<header
    class="
        object
        flex
        flex-col
        w-full
        mx-auto
        mb-8
        p-4
        bg-light-2
        dark:bg-shadow-1
        md:flex-row
        md:columns-2
    "
>
    <div class="shrink text-center md:text-right">
        @Heading
    </div>
    <div class="grow text-center md:text-right">
        @Navigation
    </div>
</header>

@code {
    [Parameter]
    public RenderFragment Heading { get; set; }

    [Parameter]
    public RenderFragment Navigation { get; set; }
}
