@page "/style-guide/css-components"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Site.Components.Pages.StyleGuide.CSSComponents
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="An overview of the CSS components within the Style Guide." />
    <title>Style Guide - CSS Components</title>
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    Heading
</SectionContent>

<SectionContent SectionName="Navigation">
    Navigation Content
</SectionContent>

<_Overview Id="overview" HeadingLevel="1" />
