@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Components.Web
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Features.PageHeader

@namespace Views.Server.Layouts

<HeadContent>
    <link rel="stylesheet" href="/_content/Views/bundle/main.css" />
    <SectionOutlet SectionName="Head" />
</HeadContent>

<div class="flex flex-col min-h-screen">
    <Header>
        <Heading>
            <SectionOutlet SectionName="Heading" />
        </Heading>
        <NavigationLinks>
            <SectionOutlet SectionName="NavigationLinks" />
        </NavigationLinks>
    </Header>

    <SectionOutlet SectionName="Flashes" />

    <main class="grow">
        @Body
    </main>
    <PageFooter>
        <SectionOutlet SectionName="Footer" />
    </PageFooter>
</div>

<script src="/_content/Views/bundle/main.js"></script>
<SectionOutlet SectionName="Scripts" />
