@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Components.Web
@namespace Views.Server.Layouts

<HeadContent>
    <link rel="stylesheet" href="_content/Views/bundle/index.css" />
    <SectionOutlet SectionName="Head" />
</HeadContent>

<div class="flex flex-col min-h-screen">
    <header
        class="
            mx-auto
            w-full
            border
            px-8
            py-4
            columns-1
            md:columns-2 
            text-center
            md:text-left
        "
    >
        <div>
            <SectionOutlet SectionName="Header" />
        </div>
        <div class="hidden md:block md:text-right">
            Navigation
        </div>
    </header>
    <main class="grow mx-auto w-full border px-8 py-8 md:py-4 md:max-w-md">
        @Body
    </main>
    <footer class="px-8 py-4 text-center">
        <SectionOutlet SectionName="Footer" />
    </footer>
</div>

<script src="_content/Views/bundle/app.js"></script>
<SectionOutlet SectionName="Scripts" />
