@page "/style-guide/features/banner-block"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Site.Components.Pages.StyleGuide.Features
@using Site.Components.Shared
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="A block for displaying information prominently." />
    <title>Style Guide - Banner Block</title>
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    Heading
</SectionContent>

<SectionContent SectionName="NavigationLinks">
    <MainNavigation ActiveLink="StyleGuide" />
</SectionContent>

<SectionBlock Heading="Banner Block" HeadingLevel="1">
    <Overview>
        <p class="sub-heading">
            For introducing important information prominently.
        </p>
    </Overview>
    <ChildContent>
        <ContentArea>
            <div class="grid gap-8 mb-8 md:grid-cols-3">
                <div class="card object p-8 copy md:col-span-2">
                    <h2 class="heading heading-2">Overview</h2>
                    <p>
                        Banner blocks have two slots: "BackgroundContent" and
                        "ChildContent".
                    </p>
                    <p>
                        "BackgroundContent" renders the contents of the banner's
                        background, which is left open-ended.  This means that
                        background content can be anything you like, e.g. a video,
                        figure, pattern, etc.
                    </p>
                    <p>
                        "ChildContent" is responsible for render the main content of
                        the block.  This should be readable by the user, regardless of
                        the block's background.
                    </p>
                </div>
            </div>
        </ContentArea>
        <ContentArea>
            <h2 class="heading heading-2">Example</h2>
        </ContentArea>
        <Views.Server.Features.BannerBlock>
            <BackgroundContent>
                <div class="bg-teal-700 w-full h-full"></div>
            </BackgroundContent>
            <ChildContent>
                <div class="text-center">
                    <h3 class="heading heading-2">This Is A Banner Block</h3>
                    <p class="sub-heading">
                        This is an elaboration.
                    </p>
                </div>
            </ChildContent>
        </Views.Server.Features.BannerBlock>
    </ChildContent>
</SectionBlock>

<SectionContent SectionName="Footer">
    <MainFooter />
</SectionContent>
