@using Views.Server.Components
@using Views.Server.Components.Icons

@namespace Site.Components.Shared

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    <div class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
        "
    >
        <h3 class="heading heading-5 heading-top">Games</h3>
        <ul class="minimal">
            <li><a href="#">Untitled RPG</a></li>
        </ul>
    </div>
    <div
        class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
        "
    >
        <h3 class="heading heading-5 heading-top">Company</h3>
        <ul class="minimal">
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div
        class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
            sm:col-span-2
            md:col-span-1
        "
    >
        <h3 class="heading heading-5 heading-top">Social</h3>
        <ul class="minimal flex items-center gap-5 mt-2">
            <li><a href="#"><XSocialIcon Class="w-5 h-5" /></a></li>
            <li><a href="#"><YouTubeSocialIcon /></a></li>
            <li><a href="#"><InstagramSocialIcon /></a></li>
            <li><a href="#"><SteamSocialIcon /></a></li>
        </ul>
    </div>
</div>
