@using Views.Server.Components

@namespace Site.Components.Shared

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    <div class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
        "
    >
        <h3 class="heading heading-5 heading-top">Games</h3>
        <ul class="minimal">
            <li>Untitled RPG</li>
        </ul>
    </div>
    <div
        class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
        "
    >
        <h3 class="heading heading-5 heading-top">Company</h3>
        <ul class="minimal">
            <li>About</li>
            <li>News</li>
            <li>Blog</li>
        </ul>
    </div>
    <div
        class="
            copy
            card
            card--skeletal
            border-light-4
            dark:border-shadow-4
            p-8
            sm:col-span-2
            md:col-span-1
        "
    >
        <h3 class="heading heading-5 heading-top">Social</h3>
    </div>
</div>
