/*
 * @example
 * <div class="card p-8">...</div>
 */
.card {
  border: thin solid;
  border-radius: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 8);

  background-color: var(--color-light-1);
  border-color: var(--color-light-3);

  @variant dark {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
    box-shadow: none;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
    box-shadow: none;
  }
}

.card.card--skeletal {
  background: transparent;
  border-color: var(--color-shadow-1);

  @variant dark {
    border-color: var(--color-light-5);
  }

  @media screen and (prefers-color-scheme: dark) {
    border-color: var(--color-light-5);
  }
}

.card.card--transparent {
  background: transparent;
  border: none;
}
