/*
 * @example
 * <div class="card p-8">...</div>
 */
.card {
  border: thin solid;
  border-radius: var(--spacing);
  padding: calc(8 * var(--spacing));

  @variant dark {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
  }
}
