/*
 * @example
 * <div class="card p-8">...</div>
 */
.card {
  border: thin solid;
  border-radius: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 8);

  background-color: var(--color-light-2);
  border-color: var(--color-light-1);

  @variant dark {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-shadow-2);
    border-color: var(--color-shadow-3);
  }
}

.card.card--transparent {
  border: none;
  background: transparent;
}
