.heading {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
}

.heading-1 {
  font-size: calc(var(--spacing) * 10);
  margin-bottom: calc(var(--spacing) * 3);
}

.heading-2 {
  font-size: calc(var(--spacing) * 9);
  margin-bottom: calc(var(--spacing) * 2);
}

.heading-3 {
  font-size: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 1);
}

.heading-4 {
  font-size: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 1);
}
