.hr {
  color: var(--color-shadow-1);
  margin: calc(var(--spacing) * 8) 0;

  @variant dark {
    border-color: var(--color-shadow-3);
  }

  @media screen and (prefers-color-scheme: dark) {
    border-color: var(--color-shadow-3);
  }
}
