.link {
  color: var(--color-interactive-3);
  font-family: 'Outfit', sans-serif;
  outline: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  text-underline-offset: var(--spacing);
}
