.object {
  box-shadow:
    0
    var(--spacing)
    calc(var(--spacing) * 2)
    var(--color-light-4);

    @variant dark {
      box-shadow: none;
    }

    @media screen and (prefers-color-scheme: dark) {
      box-shadow: none;
    }
}
