@using Views.Server.Components
@using Views.Server.Components.Icons

@namespace Site.Components.Pages.StyleGuide

<CardLink Href="@Href" Class="object">
    <div class="text-center">
        @ChildContent&nbsp;<span><ArrowCircleRightIcon Class="w-5 h-5" /></span>
    </div>
</CardLink>

@code {
    [Parameter]
    public required string Href { get; set; }
    
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}
