@page "/style-guide"
@using Microsoft.AspNetCore.Components.Sections
@using Site.Components.Shared
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@using Site.Components.Pages.StyleGuide
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="An overview of the style guide used by this site." />
    <title>Style Guide</title>
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    <div>This is header slot content.</div>
</SectionContent>

<SectionContent SectionName="Navigation">
    <MainNavigation ActiveLink="StyleGuide" />
</SectionContent>

<SectionBlock Id="overview" Heading="Style Guide" HeadingLevel="1">
    <Overview>
        <p class="sub-heading">
            A living specimen page that describes the styles used in this
            application.  Includes overall rules as well as code snippets and
            live examples.
        </p>
    </Overview>
    <ChildContent>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <DocLink Href="#design-guidelines">
                Design Guidelines
            </DocLink>
            <DocLink Href="#features">
                Features
            </DocLink>
            <DocLink Href="#server-components">
                Server Components
            </DocLink>
            <DocLink Href="#css-components">
                CSS Components
            </DocLink>
        </div>
    </ChildContent>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="design-guidelines" Heading="Design Guidelines" WithOverview="false">
    <ChildContent>
        <div class="grid gap-4 grid-cols-1 mb-8 md:grid-cols-3">
            <div class="card object copy col-span-1 md:col-span-2">
                <h3 class="heading heading-3">
                    Overview
                </h3>
                <p>
                    The guide uses a combination of server rendered components
                    (Blazor), React, and CSS components via Tailwind.
                </p>
                <hr class="hr">
                <h3 class="heading heading-3">
                    When To Use Which Component Style
                </h3>
                <p>
                    If your component only needs a single HTML tag, consider writing
                    a CSS component.  These are generally the most granular, and used
                    both as part of larger components and in static content.
                </p>
                <p>
                    If your component needs multiple HTML tags and conditional
                    rendering, but does not require rich interactivity beyond its initial
                    render, consider using a Blazor component (.razor).  These offer
                    the flexibility of client side components but render server side, making them
                    slightly better for SEO.
                </p>
                <p>
                    If your component is part of a feature with rich interactivity, consider writing
                    it in React.
                </p>
            </div>
        </div>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <div class="card object">Layout</div>
            <div class="card object">Colors</div>
            <div class="card object">Typography</div>
            <div class="card object">Components</div>
        </div>
    </ChildContent>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<Site.Components.Pages.StyleGuide.Features.Overview Id="features" />

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<Site.Components.Pages.StyleGuide.ServerComponents.Overview Id="server-components" />

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<Site.Components.Pages.StyleGuide.CSSComponents.Overview Id="css-components" />

<SectionContent SectionName="Footer">
    <div>This is footer content.</div>
</SectionContent>
