@page "/style-guide"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="An overview of the style guide used by this site." />
    <title>Style Guide</title>
</SectionContent>

<SectionContent SectionName="Flashes">
    <Flash Level="error">
        Test
    </Flash>
</SectionContent>

<SectionContent SectionName="Heading">
    <div>This is header slot content.</div>
</SectionContent>

<SectionContent SectionName="Navigation">
    <div>Navigation content.</div>
</SectionContent>

<SectionBlock Id="overview" Heading="Style Guide" HeadingLevel="1">
    <Overview>
        <p class="sub-heading">
            A living specimen page that describes the styles used in this
            application.  Includes overall rules as well as code snippets and
            live examples.
        </p>
    </Overview>
    <Content>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
            <div class="card object">
                <a href="#approach">Approach</a>
            </div>
            <div class="card object">
                <a href="#conventions">Conventions</a>
            </div>
            <div class="card object">
                <a href="#features">Features</a>
            </div>
            <div class="card object">
                <a href="#components">Components</a>
            </div>
            <div class="card object">
                <a href="#styles">Styles</a>
            </div>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="approach" Heading="Approach" WithOverview="false">
    <Content>
        <div class="card object">
            <p>
                This is about the general approach.
            </p>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="headings" Heading="Headings" WithOverview="false">
    <div class="card object">
        <h1 class="heading heading-1">
            This is a heading 1.
        </h1>
        <h2 class="heading heading-2">
            This is a heading 2.
        </h2>
        <h3 class="heading heading-3">
            This is a heading 3.
        </h3>
        <h4 class="heading heading-4">
            This is a heading 4.
        </h4>
    </div>
</SectionBlock>

<ContentArea>
    <hr class="hr" />
</ContentArea>

<BasicBlock>
    <h1 class="heading heading-1">
        This is a heading 1.
    </h1>
    <h2 class="heading heading-2">
        This is a heading 2.
    </h2>
    <h3 class="heading heading-3">
        This is a heading 3.
    </h3>
    <h4 class="heading heading-4">
        This is a heading 4.
    </h4>
    <hr class="hr" />
    <p>
        This is body content.
    </p>
    <h2 class="heading heading-2">
        Some project to highlight
    </h2>
    <p class="sub-heading">
        This is a description or brief blurb about whatever is being described.
    </p>
</BasicBlock>
<BasicBlock>
    <p>
        This is a second content block.
    </p>
</BasicBlock>
<BasicBlock>
    <p>
        This is a second content block.
    </p>
</BasicBlock>

<SectionContent SectionName="Footer">
    <div>This is footer content.</div>
</SectionContent>
