@page "/style-guide"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="An overview of the style guide used by this site." />
    <title>Style Guide</title>
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    <div>This is header slot content.</div>
</SectionContent>

<SectionContent SectionName="Navigation">
    <div>Navigation content.</div>
</SectionContent>

<SectionBlock Id="overview" Heading="Style Guide" HeadingLevel="1">
    <Overview>
        <p class="sub-heading">
            A living specimen page that describes the styles used in this
            application.  Includes overall rules as well as code snippets and
            live examples.
        </p>
    </Overview>
    <Content>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <div class="card object">
                <a href="#approach">Approach</a>
            </div>
            <div class="card object">
                <a href="#features">Features</a>
            </div>
            <div class="card object">
                <a href="#server-components">Server Components</a>
            </div>
            <div class="card object">
                <a href="#css-components">CSS Components</a>
            </div>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="approach" Heading="Approach" WithOverview="false">
    <Content>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3">
            <div class="card object copy col-span-1 md:col-span-2">
                <h3 class="heading heading-3">
                    Overview
                </h3>
                <p>
                    The guide uses a combination of server rendered components
                    (Blazor), React, and CSS components via Tailwind.
                </p>
                <hr class="hr">
                <h3 class="heading heading-3">
                    When To Use Which Component Style
                </h3>
                <p>
                    If your component only needs a single HTML tag, consider writing
                    a CSS component.  These are generally the most granular, and used
                    both as part of larger components and in static content.
                </p>
                <p>
                    If your component needs multiple HTML tags and conditional
                    rendering, but does not require rich interactivity beyond its initial
                    render, consider using a Blazor component (.razor).  These offer
                    the flexibility of client side components but render server side, making them
                    slightly better for SEO.
                </p>
                <p>
                    If your component is part of a feature with rich interactivity, consider writing
                    it in React.
                </p>
            </div>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="features" Heading="Features">
    <Overview>
        <p class="sub-heading">
            Non-trivial arrangements of components with additional functionality.
        </p>
    </Overview>
    <Content>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <div class="card object">Flash</div>
            <div class="card object">Page Header</div>
            <div class="card object">Page Footer</div>
            <div class="card object">Section Block</div>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock Id="server-components" Heading="Server Components">
    <Overview>
        <p class="sub-heading">
            Declarative HTML snippets that render on the server, making them a
            good choice for when SEO counts.
        </p>
    </Overview>
    <Content>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <div class="card object">Content Area</div>
            <div class="card object">Card Link</div>
        </div>
    </Content>
</SectionBlock>

<ContentArea>
    <hr class="hr my-0" />
</ContentArea>

<SectionBlock id="css-components" Heading="CSS Components">
    <Overview>
        <p class="sub-heading">
            Granular CSS classes, built on top of Tailwind, for describing
            styles in a deeply composable way.
        </p>
    </Overview>
    <Content>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
            <div class="card object">Card</div>
            <div class="card object">Copy</div>
            <div class="card object">Heading</div>
            <div class="card object">Horizontal Rule</div>
            <div class="card object">Object</div>
            <div class="card object">Sub-Heading</div>
        </div>
    </Content>
</SectionBlock>

<SectionContent SectionName="Footer">
    <div>This is footer content.</div>
</SectionContent>
