@namespace Views.Server.Components

<a href="@Href" target="@Target" class="card-link">
    <div class="@GetCardClasses()">
        @ChildContent
    </div>
</a>

@code {
    [Parameter]
    public string BackgroundType { get; set; } = "none";

    [Parameter]
    public string BackgroundURL { get; set; } = "";

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Target { get; set; } = "_self";

    /// <summary>
    /// Modifier CSS classes.  These will be appended to the CSS classes on the
    /// Card element.
    /// </summary>
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string GetCardClasses()
    {
        if (string.IsNullOrEmpty(Class))
        {
            return "card p-8";
        }
        return $"card {Class}";
    }
}
