@page "/style-guide/server-components"
@using Microsoft.AspNetCore.Components.Sections
@using Views.Server.Components
@using Views.Server.Features
@using Views.Server.Layouts
@layout BasicLayout

<SectionContent SectionName="Head">
    <meta name="description" content="An index of components that are rendered on the server." />
    <title>Style Guide - Card Link</title>
</SectionContent>

<SectionContent SectionName="Flashes">
</SectionContent>

<SectionContent SectionName="Heading">
    Heading
</SectionContent>

<SectionContent SectionName="Navigation">
    Navigation Content
</SectionContent>

<Site.Components.Pages.StyleGuide.ServerComponents.Overview
    Id="overview"
    HeadingLevel="1"
/>
