@using Views.Server.Components
@using Views.Server.Components.Icons
@using Views.Server.Features
@using Site.Components.Pages.StyleGuide

@namespace Site.Components.Pages.StyleGuide.ServerComponents

<SectionBlock Id="@Id" Heading="Server Components" HeadingLevel="@HeadingLevel">
    <Overview>
        <p class="sub-heading">
            Declarative HTML snippets that render on the server, making them a
            good choice for when SEO counts.
        </p>
    </Overview>
    <ChildContent>
        <ContentArea>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
                <div class="card object">Content Area</div>
                <DocLink Href="/style-guide/server-components/card-link">
                    Card Link
                </DocLink>
            </div>
        </ContentArea>
    </ChildContent>
</SectionBlock>

@code {
    [Parameter]
    public required string Id { get; set; }

    [Parameter]
    public int HeadingLevel { get; set; } = 2;
}
