@using Views.Server.Components

@namespace Views.Server.Features

<section id="@Id" class="py-16">
    <ContentArea>
        <div class="@(!WithOverview ? "mb-4" : "")">
            @((MarkupString)BuildHeading(Heading, HeadingLevel))
        </div>
        @if (WithOverview) {
            <div
                class="
                    grid
                    grid-cols-1
                    gap-8
                    @(WithContent ? "mb-8" : "")
                    lg:grid-cols-2
                "
            >
                <div>
                    @Overview
                </div>
                <div>
                    @Visual
                </div>
            </div>
        }
    </ContentArea>
    @if (WithContent) {
        <div>
            @ChildContent
        </div>
    }
</section>

@code{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public int HeadingLevel { get; set; } = 2;

    [Parameter]
    public RenderFragment Overview { get; set; }

    [Parameter]
    public RenderFragment Visual { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool WithOverview { get; set; } = true;

    [Parameter]
    public bool WithContent { get; set; } = true;

    public string BuildHeading(string heading, int level) {
        return
            $"<h{level} class=\"heading heading-{level} heading-top\">" +
            $"  {heading}" +
            $"</h{level}>";
    }
}
